services:
  - type: web
    name: brickbyte
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn --workers 3 app:app  # Add workers
    envVars:
      - key: PYTHON_VERSION
        value: 3.9 
